*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ancre1 , footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lg{
    width: 80px;
    height: 80px;
}
a{
	font-family: 'Manrop',sans-serif;
	text-decoration: none;
	color: #242424;
    margin-right: 50px;
}
a:hover{
	text-decoration: underline;
}
.lg{
    margin-left: 50px;
}
.lg:hover{
    opacity: 0.5;
}
.sec1{
    width: 100%;
    height: 500px;
    background-color: #1f2039;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 3.5em;
	color: #a5b4fc;
	font-family: 'Montserrat',sans-serif; 
}
p{
    font-family: 'Manrop',sans-serif;
	font-size:1.1em;
	color: #f9f8ff;
}
.left{
    width: 30%;
}
.cta{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
	color: white;
	background:linear-gradient(#8e86b5, #acaeed);
	border: 1px solid #1f2039;
	border-radius: 50px;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cta a{
    text-decoration: none;
}
em{
    color: #a5b4fc;
	font-style: normal;
}
.sec2{
    width: 100%;
    height: 600px;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.conteneur{
    width: 75%;
    height: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
    margin: 0 auto;
}
.ig{
    width: 100%;
    height: 250px;
}
#ancre2{
    width: 100%;
    height: 600px;
    background-color: #1f2039;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h3{
    font-size: 1.2em;
    font-family: 'Manrop',sans-serif;
    color: #a5b4fc;
    
    
}
form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.two{
    height: 100px;
    width:75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.two1 , .two2{
    width: 50%;
}
input{
    width:90% ;
    padding: 2% 0px;
    border-radius: 5px;
}
.multiligne{
    width: 75%;
}
textarea{
    width: 100%;
    padding: 5% 0px;
    border-radius: 5px;
}

.ev{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
	color: white;
	background:linear-gradient(#8e86b5, #acaeed);
	border: 1px solid #1f2039;
	border-radius: 50px;
    padding: 20px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    
}
legend{
    font-size: 1em;
	font-family: 'Manrop',sans-serif;
	color: #f9f8ff;
    position: relative;
    
}
@media screen and (max-width:600px){
    #ancre1{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .sec1{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 100%;
        height: 400px;
        position: relative;
        bottom: 150px;
        z-index: 2;

    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 400px;
        z-index: 10;
    }
    h1{
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }
    .cta{
       width: 70%;
        padding: 10px 0px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .sec2{
        width: 100%;
        height:1300px ;
    }
    .conteneur{
        width: 100%;
        height: 1200px;
        display: flex;
        flex-direction: column;
    }
    .ig{
        width: 100%;
        height: 200px;
    }
    #ancre2{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
   form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   .two{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
   }
   .two1 , .two2 , input , .multiligne , textarea{
    width: 100%;
   }
 
}